* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-prim: rgb(37, 37, 37);
    --cor-sec: rgb(170, 0, 255);
    --letras: rgb(255, 255, 255);
    --cor-footer: rgb(53, 53, 53);
}

.logo {
    width: 130px;
    justify-self: flex-start;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-prim);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 1;
}

header .logo {
    margin: 0 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

nav button {
    border: none;
    height: 18vh;
    width: calc(54vw/4);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--cor-prim);
    color: var(--cor-sec);
    transition: 0.4s ease;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--cor-sec);
    color: var(--cor-prim);
}

.banner {
    width: 100%;
}

main {
    background-color: black;
}

.linha {
    border-top: 1px solid white;
    width: 80%; 
    margin: 20px auto; 
}

.div1 {
    display: flex;
    justify-content: center;
}

.img1 {
    width: 80%;
}

.botao {
    background-color: var(--cor-sec); 
    border: 3px solid var(--cor-sec); 
    color: black;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: bold;
    transition: 0.3s;
}

.botao:hover {
    background-color: black;
    color: var(--cor-sec);
}


.div2 {
    padding: 10px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

  
footer {
    background-color: var(--cor-prim);
    text-align: center;
    padding-top: 30px;
}

footer p {
    color: var(--letras);
    padding-bottom: 15px;
}
.contato-logo {
    width: 25px;
    margin: 15px 10px;
}
