* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --cor-prim: black;
    --cor-sec: rgb(170, 0, 255);
}

.linha {
    border-top: 1px solid black;
    width: 80%; /* Defina a largura desejada para a linha */
    margin: 20px auto; /* Centralize a linha na página, alterando a margem conforme necessário */
}

.div1 {
    display: flex;
    justify-content: center;
}

.tabela-planos {
    width: 80%;
    display: flex ;
    border-collapse: collapse;
    justify-content: center;
    align-content: center;
  }
.tabela-planos, .tabela-planos th, .tabela-planos td {
    border: 1px solid #ddd;
  }
.tabela-planos th, .tabela-planos td {
    padding: 8px;
    text-align: center;
  }
.tabela-planos th {
    background-color: #f2f2f2;
  }
.checkmark {
    color: green;
  }
.cross {
    color: red;
  }
