* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-prim: rgb(37, 37, 37);
    --cor-sec: rgb(170, 0, 255);
    --letras: rgb(255, 255, 255);
    --cor-footer: rgb(53, 53, 53);
}

.logo {
    width: 130px;
    justify-self: flex-start;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-prim);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 1;
}

header .logo {
    margin: 0 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

nav button {
    border: none;
    height: 18vh;
    width: calc(54vw/4);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--cor-prim);
    color: var(--cor-sec);
    transition: 0.4s ease;
    cursor: pointer;
}

nav button:hover {
    background-color: var(--cor-sec);
    color: var(--cor-prim);
}

footer {
    background-color: var(--cor-prim);
    text-align: center;
    padding-top: 30px;
}

footer p {
    color: var(--letras);
    padding-bottom: 15px;
}
.contato-logo {
    width: 25px;
    margin: 15px 10px;
}

.imagem_primeira {
    width: 100%;
}

main {
    background-color: var(--cor-footer);
}

section {
    padding: 40px 0;
}

.produtos-img {
    width: 18vw;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.filhos {
    width: 20vw;
    height: 50vh;
    background-color: var(--letras);
    padding: 2vw;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filhos p {
    margin: 15px 0;
    text-align: center;
    font-size: 20px;
}

.filhos span {
    font-weight: bold;
    font-size: 25px;
}

h3 {
    text-align: center;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 25px;
    color: var(--cor-sec);
    margin-bottom: 2vh;
}