* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-prim: rgb(37, 37, 37);
    --cor-sec: rgb(170, 0, 255);
    --letras: rgb(255, 255, 255);
    --cor-footer: rgb(53, 53, 53);
}

.logo {
    width: 130px;
    justify-self: flex-start;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-prim);
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.8);
    position: relative;
    z-index: 1;
}

header .logo {
    margin: 0 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 55%;
}

nav button {
    border: none;
    height: 18vh;
    width: calc(54vw/4);
    font-size: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: var(--cor-prim);
    color: var(--cor-sec);
    transition: 0.4s ease;
}

nav button:hover {
    background-color: var(--cor-sec);
    color: var(--cor-prim);
}

.banner {
    width: 100%;
}

main {
    background-color: var(--cor-prim);
}

h1 {
    color: var(--cor-sec);
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 5px;
    padding: 10px 0;
    font-weight: lighter;
}

section {
    text-align: center;
    padding: 15vh 0;
}

.section1 {
    background-color: var(--cor-footer);
}
.section1 p {
    color: white;
    font-size: 16px;
    padding: 10px 15vw;
    letter-spacing: 1px;
}

h4 {
    color: var(--letras);
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 2px;
}

.sup-titulo {
    color: var(--letras);
    text-transform: uppercase;
    margin: 0 15vw;
    font-size: 35px;
    letter-spacing: 2px;
}

.section2 {
    background-color: var(--cor-prim);
}

.section2 button {
    border: 3px solid var(--cor-sec);
    background-color: var(--cor-sec);
    color: var(--cor-prim);
    font-weight: bold;
    font-size: 20px;
    margin-top: 5vh;
    text-transform: uppercase;
    border-radius: 25px;
    letter-spacing: 5px;
    padding: 8px 100px;
    transition: 0.3s;
}

.section2 button:hover {
    border: 3px solid var(--cor-sec);
    background-color: var(--cor-prim);
    color: var(--cor-sec);
}

.section3 {
    background-color: var(--cor-footer);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.div-1 {
    margin-left: 185px;
    margin-right: 30px;
    text-align: left;
}

.div-2 {
    margin-right: 185px;
    margin-left: 30px;
    text-align: left;
}

.div-2 h2 {
    color: var(--cor-sec);
    font-size: 35px;
    text-transform: uppercase;
}

.div-2 p {
    color: var(--letras);
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: lighter;
    margin: 30px 0;
}

.div-2 button {
    border: 3px solid var(--cor-sec);
    border-radius: 25px;
    background-color: var(--cor-sec);
    font-size: 18px;
    padding: 5px 30px;
    text-transform: uppercase;
    color: var(--cor-footer);
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.div-2 button:hover {
    background-color: var(--cor-footer);
    color: var(--cor-sec);
}

.div-1 img {
    border-radius: 20px;
    width: 400px;
    height: 300px;
}

footer {
    background-color: var(--cor-prim);
    text-align: center;
    padding-top: 30px;
}

footer p {
    color: var(--letras);
    padding-bottom: 15px;
}
.contato-logo {
    width: 25px;
    margin: 15px 10px;
}


