<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="static/img/logo.png">
        <title>Infinity Gym - Contatos</title>
        <link rel="stylesheet" href="static/css/contato.css">
    </head>
    <body>
        <header>
            <a href="/"><img src="static/img/logo.png" alt="Logo Infinity Gym" class="logo"></a>
            <nav>  
                <a href="/"><button>Início</button></a>
                <a href="/planos"><button>Planos</button></a>
                <a href="/produtos"><button>Produtos</button></a>
                <a href="/contatos"><button>Contato</button></a>
            </nav>
        </header>
        <main>
            <section class="fundo">
                <div class="fundo-text">
                    <h2 class="titulo"> Contato </h2>
                    <p>Entre em contato com o time da Infinity Gym.</p>
                </div>
            </section>
            <section class="funddo-pag">
                <div class="fundo-img">
                    <h2 class="titulo">Fale com a unidade</h2><br>
                    <img class="img" src="static/img/academia_lugar.png" alt="">
                    <p>Infinity Gym - Birigui-Sp
                        <br><br>
                        Av. 9 de Julho, 999
                        <br><br>
                        Segunda a Sexta: 06h às 22h <br> Sábado: 09h às 15h Domingo: 09h às 15h
                        <br><br>
                        Telefone: (18) 99910-9348</p>
                        <br>
                    <nav>
                        <a href="">Mais detalhes sobre o local </a>
                    </nav>
                    <br>
                </div>
                <div class="fundo-ctt">
                    <h3 class="titulo">Prencha o campo abaixo <br> para mandar uma ensagem</h3>
                    <br><br>
                    <form action="/submit" method="post"></form>
                        <input required type="text" class="input"placeholder="Nome*" />
        
                        <br /> <br />

                        <input type="email" class="input" placeholder="Email*" />
        
                        <br /> <br />

                        <input type="tel" class="input" placeholder="Telefone*" />
                    
                        <br /> <br />

                        <textarea style="width: 400px;" class="text-area" rows="7" placeholder="Mensagem*"></textarea>
                        
                        <br><br>

                        <button class="button-ctt" type="menu"> Enviar</button>
                    </form>
                </div>
            </section>
        </main>
        <footer>
            <img src="static/img/logo.png" alt="Logo Infinity Gym" class="logo">
            <div class="div-contato">
                <a href="" class="logos"><img src="static/img/instagram-logo.png" alt="Logo Instagram" class="contato-logo"></a>
                <a href="" class="logos"><img src="static/img/WhatsApp-logo.png" alt="Logo WhatsApp" class="contato-logo"></a>
            </div>
            <p>© 2024 Infinity Gym. Todos os direitos reservados.</p>
        </footer>
    </body>
</html>