<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/imc.css">
    <link rel="icon" href="../static/img/logo.png">
    <title>Infinity Gym - Calculadora de IMC</title>
</head>
<body>
    <header>
        <a href="/"><img src="static/img/logo.png" alt="Logo Infinity Gym" class="logo"></a>
        <nav>  
            <a href="/"><button>Início</button></a>
            <a href="/planos"><button>Planos</button></a>
            <a href="/produtos"><button>Produtos</button></a>
            <a href="/contatos"><button>Contato</button></a>
        </nav>
    </header>
    <main>
        <section class="section1">
            <div class="div-titulo">
                <h1 class="titulo">Calculadora de IMC</h1>
                <p>O IMC é calculado dividindo-se o peso (em quilogramas) pela altura ao quadrado (em metros)</p>
            </div>
            <form action="/resultado" method="POST">
                <div class="div-form">
                    <h2 class="titulo">Preencha o campo abaixo</h2>
                    <div class="elemento">
                        <input type="text" placeholder="Altura (m)*" name="altura">   
                    </div>
                    <div class="elemento">
                        <input type="text" placeholder="Peso (kg)*" name="peso">
                    </div>
                    <button type="submit" class="botao-calcular">Calcular</button>
                    <p class="text-imc">Seu IMC: {{imc}}</p>
                    <p class="text-imc">Classificação: {{classificacao}}</p>
                </div>
                <img src="../static/img/img-imc.png" alt="" class="imc-img">
            </form>
        </section>
    </main>
    <footer>
        <img src="../static/img/logo.png" alt="Logo Infinity Gym" class="logo">
        <div class="div-contato">
            <a href="" class="logos"><img src="../static/img/instagram-logo.png" alt="Logo Instagram" class="contato-logo"></a>
            <a href="" class="logos"><img src="../static/img/WhatsApp-logo.png" alt="Logo WhatsApp" class="contato-logo"></a>
        </div>
        <p>© 2024 Infinity Gym. Todos os direitos reservados.</p>
    </footer>
</body>
</html>