<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/img/logo.png">
    <title>Infinity Gym - Produtos</title>
    <link rel="stylesheet" href="assets/css/produtos.css">
</head>

<body>
    <header>
        <a href="index.html"><img src="assets/img/logo.png" alt="Logo Infinity Gym" class="logo"></a>
        <nav>  
            <a href="index.html"><button>Início</button></a>
            <a href="planos.html"><button>Planos</button></a>
            <a href="produtos.html"><button>Produtos</button></a>
            <a href="contatos.html"><button>Contato</button></a>
        </nav>
    </header>

    <main>
        <img class="imagem_primeira" src="assets/img/Produtos.png" alt="">
        <section>
        <h3>PROTEÍNAS</h3>
        <div class="container">
            <div class="filhos">
                <img src="assets/img/proteina1.jpg" alt="" class="produtos-img">
                <p>Whey Gold Standart por <span>R$300,99</span></p>
            </div>
    
            <div class="filhos">
                <img src="assets/img/proteina2.jpg" alt="" class="produtos-img">
                <p>Whey Pro por <span>R$279,99</span></p>
            </div>

            <div class="filhos">
                <img src="assets/img/proteina3.jpg" alt="" class="produtos-img">
                <p>Whey Protein Power por <span>R$400,78</span></p>
            </div>
        </div>
        </section>
        <section>
            <h3>MASSA MUSCULAR</h3>
            <div class="container">
                <div class="filhos">
                    <img src="assets/img/massa_muscular1.jpg" alt="" class="produtos-img">
                    <p>Creatina Hardcore por <span>R$300,99</span></p>
                </div>
        
                <div class="filhos">
                    <img src="assets/img/massa_muscular2.jpg" alt="" class="produtos-img">
                    <p>Creatina Nutrata por <span>R$279,99</span></p>
                </div>
        
                <div class="filhos">
                    <img src="assets/img/massa_muscular3.avif" alt="" class="produtos-img">
                    <p>Max Creatine por <span>R$400,78</span></p>
                </div>
            </div>
        </section>
       <section>
            <h3>ENERGIA</h3>
            <div class="container">
                <div class="filhos">
                    <img src="assets/img/energia1.jpg" alt="" class="produtos-img">
                    <p>Maltodextrina por <span>R$300,99</span></p>
                </div>
        
                <div class="filhos">
                    <img src="assets/img/energia2.jpg" alt="" class="produtos-img">
                    <p>Maltrodextrina Growth por <span>R$279,99</span></p>
                </div>
        
                <div class="filhos">
                    <img src="assets/img/energia3.webp" alt="" class="produtos-img">
                    <p>Maltodextrina Integralmedica por <span>R$400</span></p>
                </div>
            </div>
       </section>
    </main>
    <footer>
        <img src="assets/img/logo.png" alt="Logo Infinity Gym" class="logo">
        <div class="div-contato">
            <a href="" class="logos"><img src="assets/img/instagram-logo.png" alt="Logo Instagram" class="contato-logo"></a>
            <a href="" class="logos"><img src="assets/img/WhatsApp-logo.png" alt="Logo WhatsApp" class="contato-logo"></a>
        </div>
        <p>© 2024 Infinity Gym. Todos os direitos reservados.</p>
    </footer>
</body>

</html>